<img src="app/resources/images/main.jpg" class="img-responsive">
<img src="app/resources/images/scroll-down.gif" class="img-responsive" style="width:100px;position:absolute;top:85%;right:50%;">

    <div class="album text-muted">
      <div class="container">
 <h2 class="jumbotron-heading">Last projects</h2>
        
			<projects-list [projNumb]="3">Loading...</projects-list>
		
<p class="text-center">
          <a routerLink="/projects" class="btn btn-primary">All projects</a></p>
      </div>
    </div>

    